openapi: "3.0.3"
info:
  version: 1.0.0
  title: OpenReview
  description: OpenReview API documentation
  termsOfService: https://openreview.net/terms
  contact:
    name: OpenReview Team
    email: info@openreview.net
    url: https://openreview.net
servers:
  - url: https://api.openreview.net
    description: Production Server
  - url: https://devapi.openreview.net
    description: Development Server
security:
  - cookieAuth: []
paths:
  /login:
    post:
      tags:
        - Users
      description: Login to openreview
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - id
                - password
              properties:
                id:
                  description: Any confirmed email address that is associated to the OpenReview Profile.
                  type: string
                  minLength: 1
                password:
                  type: string
                  minLength: 1
                expiresIn:
                  description: An optional parameter to determine the number of seconds before the assigned token expires.
                  type: integer
                  nullable: true
                  minimum: 1
              additionalProperties: false
      responses:
        '200':
          description: An object containing the assigned token and the OpenReview Profile.
          content:
            application/json:
              schema:
                properties:
                  token:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        description: Email used to log in.
                        type: string
                      profile:
                        description: Simplified Profile of the user logged in user.
                        $ref: '#/components/schemas/SimplifiedProfile'
          headers:
            Set-Cookie:
              schema:
                type: string
                example: openreview.accessToken=abcde12345; Path=/;
  /register:
    post:
      tags:
        - Users
      description: Register a new user
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - required:
                  - email
                  - password
                  - name
                - required:
                  - email
                  - password
                  - id
              properties:
                email:
                  description: Email that will be used to log in to OpenReview.
                  type: string
                  minLength: 1
                  maxLength: 254
                password:
                  type: string
                name:
                  type: object
                  required:
                    - first
                    - last
                  properties:
                    first:
                      type: string
                      minLength: 1
                    middle:
                      type: string
                      nullable: true
                    last:
                      type: string
                      minLength: 1
                    preferred:
                      description: A Profile can contain more than one object name. Setting this field to true will make this the preferred name.
                      type: boolean
                  additionalProperties: false
                id:
                  description: This is a Profile id. This parameter is only required when claiming an existing a Profile in OpenReview.
                  type: string
              additionalProperties: false
      responses:
        '200':
          description: The Profile that is saved to the database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  /activate/{token}:
    put:
      tags:
        - Users
      description: Activate a user
      operationId: activate
      parameters:
        - name: token
          in: path
          description: activation token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileContent'
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/Profile'
  /profile/moderate:
    post:
      tags:
        - Users
      description: Moderate a user Profile
      operationId: moderateProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - id
                - decision
              properties:
                id:
                  type: string
                decision:
                  type: string
                  enum:
                    - accept
                    - reject
                    - block
                    - unblock
                sendMail:
                  type: boolean
                  nullable: true
                reason:
                  type: string
                  nullable: true
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /activatelink/{token}:
    put:
      tags:
        - Users
      description: Activate a user
      operationId: activateLink
      parameters:
        - name: token
          in: path
          description: activation token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
  /activatable/{token}:
    get:
      tags:
        - Users
      description: Check if a user is activatable
      operationId: activatable
      parameters:
        - name: token
          in: path
          description: activation token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                properties:
                  profile:
                    $ref: '#/components/schemas/Profile'
                  activatable:
                    type: object
                  prefixed_positions:
                    type: array
                  prefixed_relations:
                    type: array
                  institutions:
                    type: array
  /activatable:
    post:
      tags:
        - Users
      description: Check if a user is activatable
      operationId: activatable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - id
              properties:
                id:
                  type: string
                  minLength: 1
                  maxLength: 254
              additionalProperties: false
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
  /reset/{token}:
    put:
      tags:
        - Users
      description: Reset a user password
      operationId: resetPassword
      parameters:
        - name: token
          in: path
          description: reset token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - password
              properties:
                password:
                  type: string
      responses:
        '200':
          description: User is logged in after the password is reset.
          content:
            application/json:
              schema:
                properties:
                  token:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        description: Email used to log in.
                        type: string
                      profile:
                        description: Simplified Profile of the user logged in user.
                        $ref: '#/components/schemas/SimplifiedProfile'
  /logout:
    post:
      tags:
        - Users
      description: Logout a user
      operationId: logout
      responses:
        '200':
          description: Empty object
          content:
            application/json:
              schema:
                type:
                  object
  /resettable/{token}:
    get:
      tags:
        - Users
      description: Check if a user is resettable
      operationId: resettable
      parameters:
        - name: token
          in: path
          description: reset token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
  /refreshToken:
    post:
      tags:
        - Users
      description: Refresh a user token
      operationId: refreshToken
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/Profile'
  /resettable:
    post:
      tags:
        - Users
      description: Check if a user is resettable
      operationId: resettable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - id
              properties:
                id:
                  type: string
                  minLength: 1
                  maxLength: 254
              additionalProperties: false
      responses:
        '200':
          description: Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
  /impersonate:
    post:
      tags:
        - Users
      description: Impersonate a user
      operationId: impersonate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - groupId
              properties:
                groupId:
                  type: string
                  minLength: 1
              additionalProperties: false
      responses:
        '200':
          description: User token of the impersonated user and details of the impersonation.
          content:
            application/json:
              schema:
                properties:
                  token:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        description: Email used to log in.
                        type: string
                      profile:
                        description: Simplified Profile of the user logged in user.
                        $ref: '#/components/schemas/SimplifiedProfile'
                      impersonator:
                        description: Simplified Profile information of the user that is impersonating.
                        $ref: '#/components/schemas/SimplifiedProfile'
                      disallowDataModification:
                        description: Whether the user is allowed to modify data in OpenReview.
                        type: boolean
                      impersonatables:
                        description: List of Group ids that can be impersonated by the logged in user.
                        type: array
                        items:
                          type: 'string'
  /tildeusername:
    get:
      tags:
        - Users
      description: Gets the next available OpenReview username for the passed names.
      operationId: tildeUsername
      parameters:
        - name: first
          in: query
          description: first name
          schema:
            type: string
        - name: middle
          in: query
          description: middle name
          schema:
            type: string
        - name: last
          in: query
          description: last name
          schema:
            type: string
      responses:
        '200':
          description: Next available tilde username
          content:
            application/json:
              schema:
                properties:
                  username:
                    type: string
  /user/confirm:
    post:
      tags:
        - Users
      description: Confirm a new email
      operationId: confirm
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - username
                - alternate
              properties:
                username:
                  type: string
                  minLength: 1
                alternate:
                  type: string
                  minLength: 1
                  maxLength: 254
              additionalProperties: false
      responses:
        '200':
          description: user email
          content:
            application/json:
              schema:
                properties:
                  alternate:
                    type: string
  /attachment:
    put:
      tags:
        - Attachments
      description: Upload an attachment
      operationId: uploadAttachment
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - name
                - invitationId
              properties:
                file:
                  type: string
                  format: binary
                name:
                  description: Attachment field name. This is usually pdf or supplementary_material.
                  type: string
                  minLength: 1
                invitationId:
                  description: The id of the Invitation that allows to upload the attachment.
                  type: string
                  minLength: 1
      responses:
        '200':
          description: Path to the attachment.
          content:
            application/json:
              schema:
                properties:
                  url:
                    type: string
    get:
      tags:
        - Attachments
      description: Download an attachment
      operationId: getAttachment
      parameters:
        - name: id
          in: query
          description: Note id that contains the attachment.
          required: true
          schema:
            type: string
        - name: name
          in: query
          description: Attachment field name inside the content of the Note. This is usually pdf or supplementary_material.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Attachment
  /attachment/chunk:
    put:
      tags:
        - Attachments
      description: Upload an attachment chunk
      operationId: uploadAttachmentChunk
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - name
                - invitationId
                - clientUploadId
                - chunkIndex
                - totalChunks
              properties:
                file:
                  type: string
                  format: binary
                name:
                  description: Attachment field name. This is usually pdf or supplementary_material.
                  type: string
                  minLength: 1
                invitationId:
                  description: The id of the Invitation that allows to upload the attachment.
                  type: string
                  minLength: 1
                clientUploadId:
                  description: Unique id that identifies all the chunks to the same file.
                  type: string
                  minLength: 1
                  maxLength: 25
                chunkIndex:
                  description: The index of the chunk.
                  type: integer
                  minimum: 0
                totalChunks:
                  description: The total number of chunks.
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Path to the attachment.
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      url:
                        type: string
                  - type: object
                    additionalProperties:
                      type: string
                      enum:
                        - missing
                        - completed
  /pdf:
    get:
      tags:
        - Attachments
      description: Download a PDF
      operationId: getPdf
      parameters:
        - name: id
          in: query
          description: Note id that contains the PDF.
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: PDF
  /pdf/{id}:
    get:
      tags:
        - Attachments
      description: Get a PDF
      operationId: getPdf
      parameters:
        - name: id
          in: path
          description: PDF id. This is the value saved in the pdf field of the Note.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: pdf
  /pdf/compare:
    get:
      tags:
        - Attachments
      description: Compare PDFs
      operationId: comparePdfs
      parameters:
        - name: noteId
          in: query
          description: Note id
          required: true
          schema:
            type: string
        - name: leftId
          in: query
          description: reference id
          required: true
          schema:
            type: string
        - name: rightId
          in: query
          description: reference id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: pdf comparison
  /edges:
    get:
      tags:
        - Edges
      description: Get edges
      operationId: getEdges
      parameters:
        - name: id
          in: query
          description: Edge id
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: sort
          in: query
          description: Sort returned Edges by field.
          schema:
            type: string
            minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: head
          in: query
          description: head value of the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: tail
          in: query
          description: tail value of the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: label
          in: query
          description: label of the Edge(s).
          schema:
            type: string
            nullable: true
        - name: trash
          in: query
          description: Whether to return deleted Edges as well.
          schema:
            type: boolean
        - name: groupBy
          in: query
          description: Group result by different Edge fields.
          schema:
            type: string
            minLength: 1
        - name: select
          in: query
          description: Fields of the Edge to return in the result. Requires groupBy.
          schema:
            anyOf:
              - type: string
                minLength: 1
                pattern: '[a-zA-Z0-9_]+'
              - type: array
                items:
                  type: string
                  minLength: 1
                  pattern: '[a-zA-Z0-9_]+'
        - name: details
          in: query
          description: Comma separated values of fields to add to details. Valid values are head, tail, writable and all.
          schema:
            example: 'head,tail'
            type: string
            minLength: 1
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: edges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Edge'
    post:
      tags:
        - Edges
      description: Create an edge
      operationId: createEdge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Edge'
      responses:
        '200':
          description: Edge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Edge'
    delete:
      tags:
        - Edges
      description: Delete an Edge
      operationId: deleteEdge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invitation
              properties:
                id:
                  description: Edge id of the Edge to delete.
                  type: string
                  minLength: 1
                invitation:
                  description: Invitation id used to create the Edge.
                  type: string
                  minLength: 1
                label:
                  description: Label of the Edge to delete.
                  type: string
                  minLength: 1
                tail:
                  description: Tail value of the Edge to delete.
                  type: string
                  minLength: 1
                head:
                  description: Head value of the Edge to delete.
                  type: string
                  minLength: 1
                softDelete:
                  description: Whether to soft delete the Edge. When the Edge is soft deleted, the action can be reversed.
                  type: boolean
                waitToFinish:
                  description: Whether to wait for the Edge(s) to be deleted.
                  type: boolean
      responses:
        '200':
          description: edge
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
  /edges/bulk:
    post:
      tags:
        - Edges
      description: Create edges
      operationId: createEdges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Edge'
      responses:
        '200':
          description: edges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Edge'
  /edges/rename:
    post:
      tags:
        - Edges
      description: Rename an edge
      operationId: renameEdge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentId
                - newId
              properties:
                currentId:
                  type: string
                  minLength: 1
                newId:
                  type: string
                  minLength: 1
              additionalProperties: false
      responses:
        '200':
          description: edge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Edge'
  /feedback:
    put:
      tags:
        - Feedback
      description: Send feedback to the OpenReview team
      operationId: sendFeedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
                - from
              properties:
                from:
                  description: Email address of the user sending the feedback.
                  type: string
                  minLength: 1
                subject:
                  description: Subject of the feedback.
                  type: string
                  nullable: true
                message:
                  description: The feedback.
                  type: string
                  minLength: 1
              additionalProperties: false
      responses:
        '200':
          description: feedback
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /profiles:
    get:
      tags:
        - Profiles
      description: Get user profiles
      operationId: getProfiles
      parameters:
        - name: id
          in: query
          description: Profile id
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Profile ids
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                minItems: 1
                items:
                  type: string
                  minLength: 1
        - name: email
          in: query
          description: Email associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: emails
          in: query
          description: Email(s) associated with the Profile.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: confirmedEmail
          in: query
          description: Confirmed email associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: confirmedEmails
          in: query
          description: Confirmed email(s) associated with the Profile.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: first
          in: query
          description: First name associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: middle
          in: query
          description: Middle name associated with the Profile.
          schema:
            type: string
            nullable: true
        - name: last
          in: query
          description: Last name associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: term
          in: query
          description: Email, Fullname or part of the fullname associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: group
          in: query
          description: Group id where to get all the member profiles.
          schema:
            type: string
            minLength: 1
        - name: trash
          in: query
          description: Whether to include deleted profiles.
          schema:
            type: boolean
        - name: withBlocked
          in: query
          description: Whether to include blocked profiles.
          schema:
            type: boolean
        - name: needsModeration
          in: query
          description: Whether to return Profiles that need moderation.
          schema:
            type: boolean
        - name: select
          in: query
          description: Comma separated string with specific fields of the Profile object to return.
          schema:
            example: id,content.names,content.emails
            type: string
            minLength: 1
        - name: sort
          in: query
          description: Sort returned Profiles by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: Profile response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profile'
    post:
      tags:
        - Profiles
      description: Save user Profile
      operationId: saveProfile
      requestBody:
        description: Add a new piece of evidence to an existent Profile.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileReference'
      responses:
        '200':
          description: Profile response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  /profiles/search:
    get:
      tags:
        - Profiles
      description: Get user profiles
      operationId: searchProfiles
      parameters:
        - name: id
          in: query
          description: Profile id.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Profile ids.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                minItems: 1
                items:
                  type: string
                  minLength: 1
        - name: email
          in: query
          description: Email associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: emails
          in: query
          description: Email(s) associated with the Profile.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: confirmedEmail
          in: query
          description: Confirmed email associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: confirmedEmails
          in: query
          description: Confirmed email(s) associated with the Profile.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: first
          in: query
          description: First name associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: middle
          in: query
          description: Middle name associated with the Profile.
          schema:
            type: string
            nullable: true
        - name: last
          in: query
          description: Last name associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: term
          in: query
          description: Email, Fullname or part of the fullname associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: group
          in: query
          description: Group id where to get all the member profiles.
          schema:
            type: string
            minLength: 1
        - name: trash
          in: query
          description: Whether to include deleted profiles.
          schema:
            type: boolean
        - name: withBlocked
          in: query
          description: Whether to include blocked profiles.
          schema:
            type: boolean
        - name: needsModeration
          in: query
          description: Whether to return Profiles that need moderation.
          schema:
            type: boolean
        - name: select
          in: query
          description: Comma separated string with specific fields of the Profile object to return.
          schema:
            example: id,content.names,content.emails
            type: string
            minLength: 1
        - name: sort
          in: query
          description: Sort returned Profiles by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: Profile response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profile'
  /groups:
    get:
      tags:
        - Groups
      description: Returns groups
      operationId: getGroups
      parameters:
        - name: id
          in: query
          description: Group id.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Group ids.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                minItems: 1
                items:
                  type: string
                  minLength: 1
        - name: regex
          in: query
          description: Group id regular expression.
          schema:
            type: string
            minLength: 1
        - name: member
          in: query
          description: Group id to get its transitive members.
          schema:
            type: string
            minLength: 1
        - name: members
          in: query
          description: Group id to get groups that the Group is member of.
          schema:
            type: string
            minLength: 1
        - name: signature
          in: query
          description: Group id used to sign the returned Groups.
          schema:
            type: string
            minLength: 1
        - name: signatory
          in: query
          description: Group id that can is allowed to sign with the returned Groups.
          schema:
            type: string
            minLength: 1
        - name: writer
          in: query
          description: Group id that is writer of the returned Groups.
          schema:
            type: string
            minLength: 1
        - name: host
          in: query
          description: Host of the returned Groups.
          schema:
            type: string
            nullable: true
            minLength: 1
        - name: select
          in: query
          description: Comma separated string with specific fields of the Group object to return.
          schema:
            example: id,members
            type: string
            minLength: 1
        - name: details
          in: query
          description: Comma separated values of fields to add to details. Valid value is writable.
          schema:
            example: writable
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: web
          in: query
          description: Whether to return web ui code
          schema:
            type: boolean
        - name: stream
          in: query
          description: Whether to use a stream to process results or not.
          schema:
            type: boolean
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: Group response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Groups
      description: Creates or edit a Group
      operationId: saveGroup
      requestBody:
        description: Group object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
            example:
              id: ICLR.cc
              readers:
                - everyone
              writers:
                - ICLR.cc
              signatories:
                - ICLR.cc
              signatures:
                - ~Super_User1
      responses:
        '200':
          description: Group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Groups
      description: Deletes a Group
      operationId: deleteGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: Group response
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    enum:
                      - ok
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/members:
    put:
      tags:
        - Groups
      description: Adds members to a Group
      operationId: addMembersToGroup
      requestBody:
        description: Group object
        required: true
        content:
          application/json:
            schema:
              required:
                - id
                - members
              properties:
                id:
                  description: Group id to which memebers will be added.
                  type: string
                  minLength: 1
                members:
                  description: Members to add to the Group.
                  type: array
                  minItems: 1
                  items:
                    type: string
                    minLength: 1
              additionalProperties: false
      responses:
        '200':
          description: Group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Groups
      description: Removes members from a Group
      operationId: removeMembersFromGroup
      requestBody:
        description: Group object
        required: true
        content:
          application/json:
            schema:
              required:
                - id
                - members
              properties:
                id:
                  description: Group id from which memebers will be removed.
                  type: string
                  minLength: 1
                members:
                  description: Members to remove from the Group.
                  type: array
                  minItems: 1
                  items:
                    type: string
                    minLength: 1
              additionalProperties: false
      responses:
        '200':
          description: Group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notes:
    get:
      tags:
        - Notes
      description: Returns all the Notes by filter.
      operationId: getNotes
      parameters:
        - name: id
          in: query
          description: Note id.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Note ids.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                minItems: 1
                items:
                  type: string
                  minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Note(s).
          schema:
            type: string
            minLength: 1
            example: ICLR.cc/2018/Conference/-/Blind_Submission
        - name: invitations
          in: query
          description: Invitation ids.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: referent
          in: query
          description: Reference referent.
          schema:
            type: string
            minLength: 1
        - name: forum
          in: query
          description: Note id of the forum field.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: replyto
          in: query
          description: Note id of the replyto field.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: number
          in: query
          description: Note number.
          schema:
            anyOf:
              - type: integer
                minimum: 1
              - type: string
                minLength: 1
                pattern: '^([1-9][0-9]*,?)*[1-9][0-9]*$'
              - type: array
                minItems: 1
                items:
                  type: integer
                  minimum: 1
        - name: content.title
          in: query
          description: Note title.
          schema:
            type: string
            minLength: 1
        - name: content.confidence
          in: query
          description: Note content confidence field value.
          schema:
            type: string
            minLength: 1
        - name: content.strengths
          in: query
          description: Note content strengths field value.
          schema:
            type: string
            minLength: 1
        - name: content.weaknesses
          in: query
          description: Note content weaknesses field value.
          schema:
            type: string
            minLength: 1
        - name: content.decision
          in: query
          description: Note content decision field value.
          schema:
            type: string
            minLength: 1
        - name: content.certifications
          in: query
          description: Note content certification field values.
          schema:
            type: string
            minLength: 1
        - name: content.previous_URL
          in: query
          description: Note content previous_URL field value.
          schema:
            type: string
            minLength: 1
        - name: content.user
          in: query
          description: User email in recruitment.
          schema:
            type: string
            minLength: 1
        - name: content.response
          in: query
          description: User response in recruitment.
          schema:
            type: string
            minLength: 1
        - name: content.submission_id
          in: query
          schema:
            type: string
            minLength: 1
        - name: content.venue
          in: query
          description: Note venue.
          schema:
            type: string
            minLength: 1
        - name: content.venueid
          in: query
          description: Note venueid.
          schema:
            type: string
            minLength: 1
        - name: content.venue_id
          in: query
          description: Note venue_id.
          schema:
            type: string
            minLength: 1
        - name: content.presentation_type
          in: query
          description: Presentation Type.
          schema:
            type: string
            minLength: 1
        - name: content.sessions
          in: query
          description: Sessions.
          schema:
            type: string
            minLength: 1
        - name: content.track
          in: query
          description: Track.
          schema:
            type: string
            minLength: 1
        - name: content.authorids
          in: query
          description: List of tilde ids of registered users or of emails either registered or not.
          schema:
            anyOf:
              - type: string
                minLength: 1
                example: ~Andrew_McCallum1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: trash
          in: query
          description: Whether to get deleted Notes.
          schema:
            type: boolean
            nullable: true
        - name: paperhash
          in: query
          description: paperhash of the Note if exists.
          deprecated: true
          schema:
            type: string
            example: das|go_for_a_walk_and_arrive_at_the_answer_reasoning_over_paths_in_knowledge_bases_using_reinforcement_learning.
        - name: tauthor
          in: query
          description: Get Notes authored by user.
          schema:
            type: boolean
        - name: writer
          in: query
          description: Get Notes written by user.
          schema:
            type: string
            minLength: 1
        - name: signature
          in: query
          description: Get Notes signed by user.
          schema:
            type: string
            minLength: 1
        - name: signatures
          in: query
          description: Get Notes signed by users.
          schema:
            type: array
            items:
              type: string
              minLength: 1
        - name: original
          in: query
          description: get Notes that are originals
          schema:
            anyOf:
              - type: boolean
              - type: string
                minLength: 1
        - name: select
          in: query
          description: Comma separated string with specific fields of the Note object to return.
          schema:
            example: 'id,content.title,content.abstract'
            type: string
            minLength: 1
        - name: details
          in: query
          description: |
            Comma separated values of fields to add to details. Valid values are:
            replyCount: Number of replies in a forum. Only available if the Note is a forum.
            original: Include original Note if available.
            revisions: Boolean indicating whether the Note has revisions.
            writable: Boolean indicating whether the Note is writable by the user.
            originalWritable: Boolean indicating whether the original Note is writable by the user.
            tags: Tags of the Note.
            invitation: Invitation of the Note.
            originalInvitation: Invitation of the original Note.
            directReplyCount: Number of direct replies to the Note.
            directReplies: Direct replies to the Note.
            replies: Replies to the Note. Only available if the Note is a forum.
          schema:
            type: string
            minLength: 1
            example: all
        - name: invitee
          in: query
          description: invitee
          schema:
            type: boolean
        - name: mintcdate
          in: query
          description: minimum creation date
          schema:
            type: integer
            minimum: 0
        - name: duedate
          in: query
          description: due date
          schema:
            type: boolean
        - name: sort
          in: query
          description: Sort returned Notes by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            format: int32
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: Note response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Note'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Notes
      description: Create a Note or reference, edit a Note or reference
      operationId: createNote
      requestBody:
        description: Note object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
            example:
              invitation: ICLR.cc/2018/Conference/-/Submission
              content:
                title: Paper title
                abstract: Paper abstract
                authors:
                  - Author name 1
                  - Author name 2
                authorids:
                  - author1@mail.com
                  - author2@mail.com
                pdf: /pdf/12345.pdf
              readers:
                - everyone
              writers:
                - ICLR.cc/2018/Conference
              signatures:
                - ~Super_User1
      responses:
        '200':
          description: Note response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notes/search:
    get:
      tags:
        - Notes
      description: Search Notes
      operationId: searchNotes
      parameters:
        - name: query
          in: query
          description: Search query that that looks inside some of the fields in the content of the Note.
          schema:
            type: string
            minLength: 1
        - name: term
          in: query
          description: Search term that that looks inside some of the fields in the content of the Note.
          schema:
            type: string
            minLength: 1
        - name: type
          in: query
          description: Search type
          schema:
            type: string
            enum:
              - prefix
              - terms
        - name: content
          in: query
          description: Fields inside content to look for the term.
          schema:
            type: string
            minLength: 1
            default: all
        - name: group
          in: query
          description: Group that the Invitation belongs to
          schema:
            type: string
            minLength: 1
        - name: source
          in: query
          description: Source of the Note
          schema:
            type: string
            default: all
            enum:
              - forum
              - reply
              - all
        - name: invitation
          in: query
          description: Invitation id used to create the Note(s).
          schema:
            type: string
            minLength: 1
            example: ICLR.cc/2018/Conference/-/Submission
        - name: venue
          in: query
          description: Venue of the Note
          schema:
            type: string
            minLength: 1
        - name: venueid
          in: query
          description: Venue id of the Note
          schema:
            type: string
            minLength: 1
        - name: sort
          in: query
          description: Sort returned Notes by field.
          schema:
            type: string
            minLength: 1
            example: tmdate:desc
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            format: int32
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: Note response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /references:
    get:
      tags:
        - References
      description: Returns all the references by filter
      operationId: getReferences
      parameters:
        - name: id
          in: query
          description: reference id
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: reference ids
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                minItems: 1
                items:
                  type: string
                  minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Reference(s).
          schema:
            type: string
            minLength: 1
        - name: invitations
          in: query
          description: Invitation ids
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: referent
          in: query
          description: Reference referent.
          schema:
            type: string
            minLength: 1
        - name: forum
          in: query
          description: Note id of the forum field.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: replyto
          in: query
          description: Note id of the replyto field.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: number
          in: query
          description: Note number.
          schema:
            anyOf:
              - type: integer
                minimum: 1
              - type: string
                minLength: 1
                pattern: '^([1-9][0-9]*,?)*[1-9][0-9]*$'
              - type: array
                minItems: 1
                items:
                  type: integer
                  minimum: 1
        - name: content.title
          in: query
          description: Note title.
          schema:
            type: string
            minLength: 1
        - name: content.venue
          in: query
          description: Note venue.
          schema:
            type: string
            minLength: 1
        - name: content.venueid
          in: query
          description: Note venueid.
          schema:
            type: string
            minLength: 1
        - name: content.authorids
          in: query
          description: List of tilde ids of registered users or of emails either registered or not.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: trash
          in: query
          description: Get Notes deleted too.
          schema:
            type: boolean
            nullable: true
        - name: paperhash
          in: query
          description: paperhash of the Note if exists.
          deprecated: true
          schema:
            type: string
        - name: pdf
          in: query
          description: Get Note using pdf hash.
          deprecated: true
          schema:
            type: string
        - name: tauthor
          in: query
          description: Get Notes authored by user.
          schema:
            type: boolean
        - name: writer
          in: query
          description: Get Notes written by user.
          schema:
            type: string
            minLength: 1
        - name: signature
          in: query
          description: Get Notes signed by user.
          schema:
            type: string
            minLength: 1
        - name: signatures
          in: query
          description: Get Notes signed by users.
          schema:
            type: array
            items:
              type: string
              minLength: 1
        - name: original
          in: query
          description: Get Notes that are originals.
          schema:
            anyOf:
              - type: boolean
              - type: string
                minLength: 1
        - name: select
          in: query
          description: Comma separated string with specific fields of the Reference object to return.
          schema:
            type: string
            minLength: 1
        - name: details
          in: query
          description: |
            Comma separated values of fields to add to details. Valid values are
            replyCount, original, overwriting, revisions, writable, forumContent, tags, revisions, invitation, directReplyCount, directReplies, replies, and all
          schema:
            type: string
            minLength: 1
        - name: invitee
          in: query
          description: Invitee
          schema:
            type: boolean
        - name: mintcdate
          in: query
          description: Minimum creation date
          schema:
            type: integer
            minimum: 0
        - name: duedate
          in: query
          description: Due date
          schema:
            type: boolean
        - name: sort
          in: query
          description: Sort returned Notes by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            format: int32
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: Note response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Note'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /references/pdf:
    get:
      tags:
        - Attachments
      description: Get a PDF
      operationId: getReferencePdf
      parameters:
        - name: id
          in: query
          description: reference id
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: pdf
  /references/attachment:
    get:
      tags:
        - Attachments
      description: Get a reference attachment
      operationId: getReferenceAttachment
      parameters:
        - name: id
          in: query
          description: Note id
          required: true
          schema:
            type: string
        - name: name
          in: query
          description: attachment field name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: attachment
  # /notes/search:
#     get:
#       tags:
#         - Search
#       description: |
#         Search Notes
#       operationId: searchNotes
#       parameters:
#         - name: term
#           in: query
#           description: search term with length greater than 3
#           required: false
#           schema:
#             type: string
#         - name: query
#           in: query
#           description: Elastic Search query syntax
#           required: false
#           schema:
#             type: string
#         - name: content
#           in: query
#           description: filter by content, all, authors, tags or keywords
#           required: false
#           schema:
#             type: string
#         - name: group
#           in: query
#           description: Group id to filter
#           required: false
#           schema:
#             type: string
#         - name: source
#           in: query
#           description: filter by source of Note, all, forum, reply
#           required: false
#           schema:
#             type: string
#         - name: type
#           in: query
#           description: search type (either prefix or terms)
#           required: false
#           schema:
#             type: string
#             enum: [prefix, terms]
#             default: prefix
#         - name: limit
#           in: query
#           description: Maximum number of results to return.
#           required: false
#           schema:
#             type: integer
#             format: int32
#             default: 1000
#         - name: offset
#           in: query
#           description: Offset of the result shown.
#           required: false
#           schema:
#             type: integer
#             format: int32
#             default: 0
#       responses:
#         '200':
#           description: Note response
#           content:
#             application/json:
#               schema:
#                 type: array
#                 items:
#                   $ref: '#/components/schemas/Note'
#         default:
#           description: Error
#           content:
#             application/json:
#               schema:
#                 $ref: '#/components/schemas/Error'
#     post:
#       tags:
#         - Search
#       description: |
#         Search Notes
#       operationId: searchNotesById
#       requestBody:
#         required: true
#         content:
#           application/json:
#             schema:
#               type: object
#               properties:
#                 ids:
#                   type: array
#                   items:
#                     type: string
#               example:
#                 ids:
#                   - ByBxBkhsG
#                   - BklxUBsiG
#       responses:
#         '200':
#           description: Note response
#           content:
#             application/json:
#               schema:
#                 type: array
#                 items:
#                   $ref: '#/components/schemas/Note'
#         default:
#           description: Error
#           content:
#             application/json:
#               schema:
#                 $ref: '#/components/schemas/Error'
  /invitations:
    get:
      tags:
        - Invitations
      description: Returns Invitations
      operationId: getInvitations
      parameters:
        - name: id
          in: query
          description: Invitation id
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Invitation ids
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                minItems: 1
                items:
                  type: string
                  minLength: 1
        - name: super
          in: query
          description: Super Invitation id
          schema:
            type: string
            minLength: 1
        - name: regex
          in: query
          description: Invitation id regular expression
          schema:
            type: string
            minLength: 1
        - name: type
          in: query
          description: Invitation type
          schema:
            type: string
            enum:
              - all
              - notes
              - tags
              - edges
        - name: replyForum
          in: query
          description: Note id
          schema:
            type: string
            minLength: 1
        - name: replyInvitation
          in: query
          description: Invitation id
          schema:
            type: string
            minLength: 1
        - name: minduedate
          in: query
          description: minimum due date of the Invitation
          schema:
            type: integer
            minimum: 0
        - name: invitee
          in: query
          description: invitee id
          schema:
            anyOf:
              - type: boolean
              - type: string
                minLength: 1
        - name: signature
          in: query
          description: Invitation signature
          schema:
            type: string
            minLength: 1
        - name: replyto
          in: query
          description: Invitations should have replyto field
          schema:
            type: boolean
        - name: duedate
          in: query
          description: Invitations should have due date
          schema:
            type: boolean
        - name: pastdue
          in: query
          description: Invitations should be past due
          schema:
            type: boolean
        - name: expired
          in: query
          description: Invitations should be expired
          schema:
            type: boolean
        - name: select
          in: query
          description: Comma separated string with specific fields of the Invitation object to return.
          schema:
            example: 'id,content,readers,invitees'
            type: string
            minLength: 1
        - name: details
          in: query
          description: Comma separated values of fields to add to details. Valid values are replytoNote, repliedNotes, repliedTags, repliedEdges, all.
          schema:
            type: string
            minLength: 1
        - name: tags
          deprecated: true
          in: query
          description: Get only Tag Invitations
          schema:
            type: boolean
        - name: edges
          deprecated: true
          in: query
          description: Get only edge Invitations
          schema:
            type: boolean
        - name: notes
          deprecated: true
          in: query
          description: Get only Note Invitations
          schema:
            type: boolean
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: Invitation response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invitation'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Invitations
      description: Create or edit an Invitation
      operationId: createInvitation
      requestBody:
        description: Invitation object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invitation'
            example:
              id: ICLR.cc/2018/Conference/-/Submission
              reply:
                readers:
                  description: The users who will be allowed to read the above content.
                  values:
                    - everyone
                writers:
                  values:
                    - ICLR.cc/2018/Conference
                signatures:
                  description: Your authorized identity to be associated with the above content.
                  values-regex: ~.*|ICLR.cc/2018/Conference
              content:
                title:
                  required: true
                  order: 1
                  description: Title of the paper
                  value-regex: .{1,250}
                abstract:
                  required: true
                  order: 2
                  description: Abstract of the paper
                  value-regex: .{1,2500}
                authors:
                  required: true
                  order: 3
                  description: Comma separated values of author names
                  values-regex: '[^;,\\n]+(,[^,\\n]+)*'
                authorids:
                  required: true
                  order: 4
                  description: Comma separated values of author email addresses
                  values-regex: '[^;,\\n]+(,[^,\\n]+)*'
              invitees:
                - everyone
              readers:
                - everyone
              writers:
                - ~Super_User1
              signatures:
                - ~Super_User1
      responses:
        '200':
          description: Invitation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tags:
    get:
      tags:
        - Tags
      description: Find tags by different filters
      operationId: getTags
      parameters:
        - name: id
          in: query
          description: Tag id
          schema:
            type: string
        - name: ids
          in: query
          description: Tag ids
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                minItems: 1
                items:
                  type: string
                  minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Tag(s).
          schema:
            type: string
            example: ICLR.cc/2018/Conference/-/Add_Bid
        - name: tag
          in: query
          description: Tag value
          schema:
            type: string
            minLength: 1
        - name: signature
          in: query
          description: Tag signature
          schema:
            type: string
            minLength: 1
        - name: forum
          in: query
          description: Note id of the forum field.
          schema:
            type: string
        - name: replyto
          in: query
          description: Invitations should have replyto field
          schema:
            type: string
        - name: trash
          in: query
          description: Get tags deleted too.
          schema:
            type: boolean
        - name: tauthor
          in: query
          description: Get tags authored by user.
          schema:
            type: boolean
        - name: details
          in: query
          description: Comma separated values of fields to add to details. Valid values are forumContent, all.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
            default: 1000
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: Tag response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Tags
      description: Create or edit a Tag
      operationId: createTag
      requestBody:
        description: Tag object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
            example:
              invitation: ICLR.cc/2018/Conference/-/Add_Bid
              forum: SJeI6e62XQ
              tag: I want to review
              readers:
                - everyone
              signatures:
                - ~Super_User1
      responses:
        '200':
          description: Tag response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages:
    get:
      tags:
        - Messages
      description: Find messages by different filters
      operationId: getMessages
      parameters:
        - name: id
          description: Message id.
          in: query
          schema:
            type: string
            minLength: 1
        - name: to
          description: Email address of the recipient.
          in: query
          schema:
            type: string
            minLength: 1
        - name: subject
          in: query
          description: Subject of the Message.
          schema:
            type: string
            minLength: 1
        - name: parentGroup
          in: query
          description: Parent Group the recipient belongs to.
          schema:
            type: string
            minLength: 1
        - name: status
          in: query
          description: Status of the message.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: tauthor
          in: query
          description: Email of the author of the message.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            format: int32
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: message response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Messages
      description: Create a direct message
      operationId: createDirectMessage
      requestBody:
        description: Message object
        required: true
        content:
          application/json:
            schema:
              required:
                - subject
                - message
                - groups
              properties:
                subject:
                  description: Subject of the message.
                  type: string
                message:
                  description: Message body.
                  type: string
                groups:
                  description: Groups the message is sent to.
                  type: array
                  minItems: 1
                  items:
                    type: string
                    minLength: 1
                ignoreGroups:
                  description: Groups the message should not be sent to.
                  type: array
                  nullable: true
                  default: []
                  items:
                    type: string
                    minLength: 1
                parentGroup:
                  description: Parent group that the groups belong to.
                  type: string
                  nullable: true
                sendAt:
                  description: Send the message at a specific UTC time in milliseconds in the future. Maximum is 70 hours.
                  type: integer
                  nullable: true
                replyTo:
                  description: Email address the recipient should replyto.
                  type: string
                  nullable: true
                useJob:
                  description: Whether to wait for messages to be sent.
                  type: boolean
                  nullable: true
                from:
                  description: Email address the message is sent from.
                  type: object
                  nullable: true
                  properties:
                    name:
                      type: string
                    email:
                      type: string
              additionalProperties: false
      responses:
        '200':
          description: message response
          content:
            application/json:
              schema:
                anyOf:
                  - properties:
                      groups:
                        type: object
                        properties:
                          id:
                            type: string
                            minLength: 1
                          message:
                            $ref: '#/components/schemas/Message'
                  - properties:
                      groups:
                        type: object
                        properties:
                          id:
                            type: string
                            minLength: 1
                          messages:
                            type: array
                            items:
                              $ref: '#/components/schemas/Message'
                  - properties:
                      jobId:
                        type: string
                      status:
                        type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/direct:
    post:
      tags:
        - Messages
      description: Create a direct message
      operationId: createDirectMessage
      requestBody:
        description: Message object
        required: true
        content:
          application/json:
            schema:
              required:
                - subject
                - message
                - groups
              properties:
                subject:
                  description: Subject of the message.
                  type: string
                message:
                  description: Message body.
                  type: string
                groups:
                  description: Groups the message is sent to.
                  type: array
                  minItems: 1
                  items:
                    type: string
                    minLength: 1
                ignoreGroups:
                  description: Groups the message should not be sent to.
                  type: array
                  nullable: true
                  default: []
                  items:
                    type: string
                    minLength: 1
                parentGroup:
                  description: Parent group that the groups belong to.
                  type: string
                  nullable: true
                sendAt:
                  description: Send the message at a specific UTC time in milliseconds in the future. Maximum is 70 hours.
                  type: integer
                  nullable: true
                replyTo:
                  description: Email address the recipient should replyto.
                  type: string
                  nullable: true
                useJob:
                  description: Whether to wait for messages to be sent.
                  type: boolean
                  nullable: true
                from:
                  description: Email address the message is sent from.
                  type: object
                  nullable: true
                  properties:
                    name:
                      type: string
                    email:
                      type: string
              additionalProperties: false
      responses:
        '200':
          description: message response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /logs/process:
    get:
      tags:
        - Logs
      description: Get logs by different filters
      operationId: getLogs
      parameters:
        - name: id
          in: query
          description: log id
          schema:
            type: string
            minLength: 1
        - name: parentGroup
          in: query
          description: Parent Group id
          schema:
            type: string
            minLength: 1
        - name: invitation
          in: query
          description: Invitation id that contains the process function.
          schema:
            type: string
            minLength: 1
        - name: status
          in: query
          description: Status of the process. It can be ok or error.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
            default: 1000
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: log response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Log'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Group:
      required:
        - id
        - signatures
      properties:
        id:
          type: string
        tcdate:
          type: integer
        tmdate:
          type: integer
        tauthor:
          type: string
        readers:
          type: array
          items:
            type: string
        nonreaders:
          type: array
          items:
            type: string
        writers:
          type: array
          items:
            type: string
        signatories:
          type: array
          items:
            type: string
        signatures:
          type: array
          items:
            type: string
        members:
          type: array
          items:
            type: string
        host:
          type: string
          nullable: true
        web:
          type: string
          nullable: true
    Note:
      required:
        - invitation
        - content
        - signatures
      properties:
        id:
          type: string
          minLength: 1
          nullable: true
        invitation:
          type: string
          minLength: 1
        number:
          type: integer
          minimum: 1
          nullable: true
        forum:
          type: string
          minLength: 1
          nullable: true
        replyto:
          type: string
          minLength: 1
          nullable: true
        referent:
          type: string
          minLength: 1
          nullable: true
        original:
          type: string
          minLength: 1
          nullable: true
        content:
          type: object
        cdate:
          type: integer
          minimum: 0
          nullable: true
        ddate:
          type: integer
          minimum: 0
          nullable: true
        mdate:
          type: integer
          minimum: 0
          nullable: true
        tcdate:
          type: integer
          minimum: 0
          nullable: true
        tmdate:
          type: integer
          minimum: 0
          nullable: true
        tauthor:
          type: string
          minLength: 1
        readers:
          type: array
          nullable: true
          items:
            type: string
            minLength: 1
        nonreaders:
          type: array
          nullable: true
          items:
            type: string
            minLength: 1
        writers:
          type: array
          nullable: true
          items:
            type: string
            minLength: 1
        signatures:
          type: array
          items:
            type: string
            minLength: 1
        details:
          type: object
          properties:
            replyCount:
              type: integer
            writable:
              type: boolean
            revisions:
              type: boolean
            original:
              type: object
            overwritting:
              type: array
              items:
                type: string
            forumContent:
              type: object
            tags:
              type: array
              items:
                $ref: '#/components/schemas/Tag'
            invitation:
              $ref: '#/components/schemas/Invitation'
            directReplyCount:
              type: integer
            directReplies:
              type: array
              items:
                type: object
            replies:
              type: array
              items:
                type: object
    Invitation:
      required:
        - id
        - signatures
      additionalProperties: false
      properties:
        id:
          type: string
          minLength: 1
        super:
          type: string
          minLength: 1
        reply:
          type: object
          properties:
            referent:
              type: string
              minLength: 1
              nullable: true
            forum:
              type: string
              minLength: 1
              nullable: true
            replyto:
              type: string
              minLength: 1
              nullable: true
            readers:
              type: object
              minProperties: 1
            writers:
              type: object
              minProperties: 1
            signatures:
              type: object
              minProperties: 1
            content:
              type: object
              nullable: true
        final:
          type: array
          nullable: true
        cdate:
          type: integer
          nullable: true
        ddate:
          type: integer
          nullable: true
        duedate:
          type: integer
          nullable: true
        expdate:
          type: integer
          nullable: true
        tcdate:
          type: integer
          nullable: true
        tmdate:
          type: integer
          nullable: true
        tauthor:
          type: string
        details:
          type: object
        hideOriginalRevisions:
          type: boolean
        multiReply:
          type: boolean
          nullable: true
        transform:
          type: string
          minLength: 1
          nullable: true
        taskCompletionCount:
          type: integer
          nullable: true
          minimum: 0
        replyForumViews:
          type: array
          nullable: true
          items:
            type: object
            properties:
              id:
                type: string
              label:
                type: string
              filter:
                type: string
              layout:
                type: integer
              sort:
                type: string
        preprocess:
          type: string
          nullable: true
        process:
          anyOf:
            - type: string
              nullable: true
            - type: object
              nullable: true
              properties:
                script:
                  type: string
                  minLength: 1
                delay:
                  type: integer
                  minimum: 0
        web:
          type: string
          minLength: 1
          nullable: true
        readers:
          type: array
          nullable: true
          items:
            type: string
            minLength: 1
        nonreaders:
          type: array
          nullable: true
          items:
            type: string
            minLength: 1
        writers:
          type: array
          nullable: true
          items:
            type: string
            minLength: 1
        signatures:
          type: array
          items:
            type: string
            minLength: 1
        invitees:
          type: array
          nullable: true
          items:
            type: string
            minLength: 1
        noninvitees:
          type: array
          nullable: true
          items:
            type: string
            minLength: 1
    Tag:
      required:
        - invitation
        - tag
        - signatures
      properties:
        id:
          type: string
          nullable: true
        invitation:
          type: string
        forum:
          type: string
        replyto:
          type: string
          nullable: true
        tag:
          type: string
        cdate:
          type: integer
          nullable: true
        ddate:
          type: integer
          nullable: true
        tcdate:
          type: integer
          nullable: true
        tmdate:
          type: integer
        tauthor:
          type: string
        readers:
          type: array
          items:
            type: string
        nonreaders:
          type: array
          nullable: true
          items:
            type: string
        signatures:
          type: array
          minItems: 1
          items:
            type: string
            minLength: 1
    ProfileContent:
      properties:
        preferredEmail:
          type: string
        gender:
          type: string
        homepage:
          type: string
        dblp:
          type: string
        gscholar:
          type: string
        wikipedia:
          type: string
        linkedin:
          type: string
        orcid:
          type: string
        names:
          type: array
          items:
            type: object
            properties:
              preferred:
                type: boolean
              first:
                type: string
              middle:
                type: string
              last:
                type: string
              username:
                type: string
        emails:
          type: array
          items:
            type: string
        history:
          type: array
          items:
            type: object
            properties:
              position:
                type: string
              institution:
                type: object
                additionalProperties: false
                properties:
                  name:
                    type: string
                  domain:
                    type: string
              start:
                anyOf:
                  - type: integer
                    nullable: true
                    minimum: 1900
                    maximum: 2099
                  - type: string
                    maxLength: 0
              end:
                anyOf:
                  - type: integer
                    nullable: true
                    minimum: 1900
                    maximum: 2099
                  - type: string
                    maxLength: 0
        relations:
          type: array
          nullable: true
          items:
            type: object
            properties:
              relation:
                type: string
              name:
                type: string
              email:
                type: string
              start:
                anyOf:
                  - type: integer
                    nullable: true
                    minimum: 1900
                    maximum: 2099
                  - type: string
                    maxLength: 0
              end:
                anyOf:
                  - type: integer
                    nullable: true
                    minimum: 1900
                    maximum: 2099
                  - type: string
                    maxLength: 0
        expertise:
          type: array
          nullable: true
          items:
            type: object
            properties:
              keywords:
                type: array
                nullable: true
                items:
                  type: string
              start:
                anyOf:
                  - type: integer
                    nullable: true
                    minimum: 1900
                    maximum: 2099
                  - type: string
                    maxLength: 0
              end:
                anyOf:
                  - type: integer
                    nullable: true
                    minimum: 1900
                    maximum: 2099
                  - type: string
                    maxLength: 0
    Profile:
      required:
        - id
        - invitation
        - content
        - readers
        - writers
        - signatures
      properties:
        id:
          type: string
        active:
          type: boolean
        password:
          type: boolean
        invitation:
          type: string
        content:
          $ref: '#/components/schemas/ProfileContent'
        metaContent:
          type: object
        tcdate:
          type: integer
        tmdate:
          type: integer
        tauthor:
          type: string
        readers:
[...]
