openapi: "3.0.3"
info:
  version: 1.0.0
  title: OpenReview
  description: OpenReview API documentation
  termsOfService: https://openreview.net/terms
  contact:
    name: OpenReview Team
    email: info@openreview.net
    url: https://openreview.net
servers:
  - url: https://api2.openreview.net
    description: Production Server
  - url: https://devapi2.openreview.net
    description: Development Server
security:
  - cookieAuth: []
paths:
  /login:
    post:
      tags:
        - Users
      description: Login to openreview
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - id
                - password
              properties:
                id:
                  description: Any confirmed email address that is associated to the OpenReview Profile.
                  type: string
                  minLength: 1
                password:
                  type: string
                  minLength: 1
                expiresIn:
                  description: An optional parameter to determine the number of seconds before the assigned token expires.
                  type: integer
                  nullable: true
                  minimum: 1
              additionalProperties: false
      responses:
        '200':
          description: An object containing the assigned token and the OpenReview Profile.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  token:
                    type: string
                  user:
                    type: object
                    additionalProperties: false
                    properties:
                      id:
                        description: Email used to log in.
                        type: string
                      profile:
                        $ref: '#/components/schemas/SimplifiedProfile'
          headers:
            Set-Cookie:
              schema:
                type: string
                example: openreview.accessToken=abcde12345; Path=/;
  /register:
    post:
      tags:
        - Users
      description: Register a new user
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - required:
                  - email
                  - password
                  - fullname
                - required:
                  - email
                  - password
                  - name
                - required:
                  - email
                  - password
                  - id
              properties:
                email:
                  description: Email that will be used to log in to OpenReview.
                  type: string
                  minLength: 1
                  maxLength: 254
                password:
                  type: string
                fullname:
                  type: string
                  minLength: 1
                name:
                  type: object
                  required:
                    - first
                  properties:
                    first:
                      type: string
                      minLength: 1
                    middle:
                      type: string
                      nullable: true
                    last:
                      type: string
                      minLength: 1
                    preferred:
                      description: A Profile can contain more than one object name. Setting this field to true will make this the preferred name.
                      type: boolean
                  additionalProperties: false
                id:
                  description: This is a Profile id. This parameter is only required when claiming an existing a Profile in OpenReview.
                  type: string
                token:
                  description: Token from Turnstile that proves that the user is human. This is required for registration.
                  type: string
                  nullable: true
              additionalProperties: false
      responses:
        '200':
          description: The Profile that is saved to the database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  /activate/{token}:
    put:
      tags:
        - Users
      description: Activate a user
      operationId: activate
      parameters:
        - name: token
          in: path
          description: activation token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                content:
                  $ref: '#/components/schemas/ProfileContent'
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/Profile'
  /profile/moderate:
    post:
      tags:
        - Users
      description: Moderate a user Profile
      operationId: moderateProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - decision
              additionalProperties: false
              properties:
                id:
                  type: string
                decision:
                  type: string
                  enum:
                    - accept
                    - reject
                    - block
                    - unblock
                    - delete
                    - restore
                    - limit
                sendMail:
                  type: boolean
                  nullable: true
                reason:
                  type: string
                  nullable: true
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /activatelink/{token}:
    put:
      tags:
        - Users
      description: Activate a user
      operationId: activateLink
      parameters:
        - name: token
          in: path
          description: Token used to activate new email
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Confirmed email
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  confirmedEmail:
                    type: string
  /activatable/{token}:
    get:
      tags:
        - Users
      description: Check if a user is activatable
      operationId: activatableToken
      parameters:
        - name: token
          in: path
          description: activation token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  profile:
                    $ref: '#/components/schemas/Profile'
                  activatable:
                    type: object
                  prefixed_positions:
                    type: array
                  prefixed_relations:
                    type: array
                  institutions:
                    type: array
  /activatable:
    post:
      tags:
        - Users
      description: Check if a user is activatable
      operationId: activatable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - id
              properties:
                id:
                  type: string
                  minLength: 1
                  maxLength: 254
              additionalProperties: false
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: string
  /reset/{token}:
    put:
      tags:
        - Users
      description: Reset a user password
      operationId: resetPassword
      parameters:
        - name: token
          in: path
          description: reset token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              additionalProperties: false
              properties:
                password:
                  type: string
      responses:
        '200':
          description: User is logged in after the password is reset.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  token:
                    type: string
                  user:
                    type: object
                    additionalProperties: false
                    properties:
                      id:
                        description: Email used to log in.
                        type: string
                      profile:
                        $ref: '#/components/schemas/SimplifiedProfile'

  /logout:
    post:
      tags:
        - Users
      description: Logout a user
      operationId: logout
      responses:
        '200':
          description: Empty object
          content:
            application/json:
              schema:
                type:
                  object
  /resettable/{token}:
    get:
      tags:
        - Users
      description: Check if a user is resettable
      operationId: resettableToken
      parameters:
        - name: token
          in: path
          description: reset token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
  /refreshToken:
    post:
      tags:
        - Users
      description: Refresh a user token
      operationId: refreshToken
      responses:
        '200':
          description: user token
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  token:
                    type: string
                  user:
                    type: object
                    additionalProperties: false
                    properties:
                      id:
                        description: Email used to log in.
                        type: string
                      profile:
                        $ref: '#/components/schemas/SimplifiedProfile'
  /resettable:
    post:
      tags:
        - Users
      description: Check if a user is resettable
      operationId: resettable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  minLength: 1
                  maxLength: 254
              additionalProperties: false
      responses:
        '200':
          description: Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
  /impersonate:
    post:
      tags:
        - Users
      description: Impersonate a user
      operationId: impersonate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - groupId
              properties:
                groupId:
                  type: string
                  minLength: 1
              additionalProperties: false
      responses:
        '200':
          description: User token of the impersonated user and details of the impersonation.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  token:
                    type: string
                  user:
                    type: object
                    additionalProperties: false
                    properties:
                      id:
                        description: Email used to log in.
                        type: string
                      profile:
                        $ref: '#/components/schemas/SimplifiedProfile'
                      disallowDataModification:
                        type: boolean
                      impersonatables:
                        type: array
                        items:
                          type: string
                          minLength: 1
                      impersonator:
                        type: object
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                          isSuperUser:
                            type: boolean
                          isVenueid:
                            type: boolean
                          profile:
                            $ref: '#/components/schemas/SimplifiedProfile'
                          impersonator:
                            type: object
                            additionalProperties: false
                            properties:
                              id:
                                type: string
                              isSuperUser:
                                type: boolean
                              isVenueid:
                                type: boolean
                              profile:
                                $ref: '#/components/schemas/SimplifiedProfile'
  /tildeusername:
    get:
      tags:
        - Users
      description: Gets the next available OpenReview username for the passed names.
      operationId: tildeUsername
      parameters:
        - name: first
          in: query
          description: first name
          schema:
            type: string
        - name: middle
          in: query
          description: middle name
          schema:
            type: string
        - name: last
          in: query
          description: last name
          schema:
            type: string
        - name: fullname
          in: query
          description: full name
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Next available tilde username
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  username:
                    type: string
  /user/confirm:
    post:
      tags:
        - Users
      description: Confirm a new email
      operationId: confirm
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - alternate
              properties:
                username:
                  type: string
                  minLength: 1
                alternate:
                  type: string
                  minLength: 1
                  maxLength: 254
              additionalProperties: false
      responses:
        '200':
          description: user email
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  alternate:
                    type: string
  /attachment:
    put:
      tags:
        - Attachments
      description: Upload an attachment
      operationId: uploadAttachment
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - name
                - invitationId
              additionalProperties: false
              properties:
                file:
                  type: string
                  format: binary
                name:
                  description: Attachment field name. This is usually pdf or supplementary_material.
                  type: string
                  minLength: 1
                invitationId:
                  description: The id of the Invitation that allows to upload the attachment.
                  type: string
                  minLength: 1
      responses:
        '200':
          description: Path to the attachment.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  url:
                    type: string
    get:
      tags:
        - Attachments
      description: Download an attachment
      operationId: getAttachment
      parameters:
        - name: id
          in: query
          description: Note id that contains the attachment.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Note ids that contain the attachments.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: name
          in: query
          description: Attachment field name inside the content of the Note. This is usually pdf or supplementary_material.
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Attachment
  /attachment/chunk:
    put:
      tags:
        - Attachments
      description: Upload an attachment chunk
      operationId: uploadAttachmentChunk
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - name
                - invitationId
                - clientUploadId
                - chunkIndex
                - totalChunks
              additionalProperties: false
              properties:
                file:
                  type: string
                  format: binary
                name:
                  description: Attachment field name. This is usually pdf or supplementary_material.
                  type: string
                  minLength: 1
                invitationId:
                  description: The id of the Invitation that allows to upload the attachment.
                  type: string
                  minLength: 1
                clientUploadId:
                  description: Unique id that identifies all the chunks to the same file.
                  type: string
                  minLength: 1
                  maxLength: 25
                chunkIndex:
                  description: The index of the chunk.
                  type: integer
                  minimum: 0
                totalChunks:
                  description: The total number of chunks.
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Path to the attachment.
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    additionalProperties: false
                    properties:
                      url:
                        type: string
                  - type: object
                    additionalProperties:
                      type: string
                      enum:
                        - missing
                        - completed
  /pdf:
    get:
      tags:
        - Attachments
      description: Download a PDF
      operationId: getPdf
      parameters:
        - name: id
          in: query
          description: Note id that contains the PDF.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Note ids that contain the attachments.
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                items:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: PDF
  /pdf/{id}:
    get:
      tags:
        - Attachments
      description: Get a PDF
      operationId: getPdfHash
      parameters:
        - name: id
          in: path
          description: PDF id. This is the value saved in the pdf field of the Note.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: pdf
  /pdf/compare:
    get:
      tags:
        - Attachments
      description: Compare PDFs
      operationId: comparePdfs
      parameters:
        - name: noteId
          in: query
          description: Note id
          required: true
          schema:
            type: string
        - name: leftId
          in: query
          description: Edit id
          required: true
          schema:
            type: string
        - name: rightId
          in: query
          description: Edit id
          required: true
          schema:
            type: string
        - name: field
          in: query
          description: field to compare
          required: false
          schema:
            type: string
            default: pdf
      responses:
        '200':
          description: pdf comparison
  /edges:
    get:
      tags:
        - Edges
      description: Get edges
      operationId: getEdges
      parameters:
        - name: id
          in: query
          description: Edge id
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: Return documents that come after the after parameter. After should be an id.
          schema:
            type: string
            minLength: 1
        - name: sort
          in: query
          description: Sort returned Edges by field.
          schema:
            type: string
            minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: head
          in: query
          description: head value of the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: tail
          in: query
          description: tail value of the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: label
          in: query
          description: label of the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: trash
          in: query
          description: Whether to return deleted Edges as well.
          schema:
            type: boolean
        - name: groupBy
          in: query
          description: Group result by different Edge fields.
          schema:
            type: string
            minLength: 1
        - name: select
          in: query
          description: Fields of the Edge to return in the result. Requires groupBy.
          schema:
            anyOf:
              - type: string
                minLength: 1
                pattern: '[a-zA-Z0-9_]+'
              - type: array
                items:
                  type: string
                  minLength: 1
                  pattern: '[a-zA-Z0-9_]+'
        - name: details
          in: query
          description: Comma separated values of fields to add to details. Valid values are head, tail, writable and all.
          schema:
            example: 'head,tail'
            type: string
            minLength: 1
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
        - name: domain
          in: query
          description: Domain the Edges belong to to filter transitive members.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: edges
          content:
            application/json:
              schema:
                type: object
                properties:
                  edges:
                    type: array
                    items:
                      $ref: '#/components/schemas/Edge'
                  count:
                    type: integer
                    minimum: 0
                  cache:
                    type: boolean
                  groupedEdges:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        id:
                          type: object
                        count:
                          type: integer
                          minimum: 0
                        values:
                          type: array
                          items:
                            type: object
                additionalProperties: false
    post:
      tags:
        - Edges
      description: Create an edge
      operationId: createEdge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Edge'
      responses:
        '200':
          description: Edge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Edge'
  /edges/rename:
    post:
      tags:
        - Edges
      description: Rename an edge
      operationId: renameEdge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentId
                - newId
              properties:
                currentId:
                  type: string
                  minLength: 1
                newId:
                  type: string
                  minLength: 1
              additionalProperties: false
      responses:
        '200':
          description: edge
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Edge'
  /edges/count:
    get:
      tags:
        - Edges
      description: Get edges count
      operationId: getEdgesCount
      parameters:
        - name: id
          in: query
          description: Edge id
          schema:
            type: string
            minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: head
          in: query
          description: head value of the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: tail
          in: query
          description: tail value of the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: label
          in: query
          description: label of the Edge(s).
          schema:
            type: string
            minLength: 1
        - name: trash
          in: query
          description: Whether to return deleted Edges as well.
          schema:
            type: boolean
        - name: domain
          in: query
          description: Domain the Edges belong to to filter transitive members.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: edges
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  count:
                    type: integer
                    minimum: 0
  /edges/archive:
    get:
      tags:
        - Edges
      description: Get archived edges
      operationId: getArchivedEdges
      parameters:
        - name: invitation
          in: query
          description: Invitation id used to create the Edge(s).
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Archived edges
  /feedback:
    put:
      tags:
        - Feedback
      description: Send feedback to the OpenReview team
      operationId: sendFeedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
                - from
                - token
              properties:
                from:
                  description: Email address of the user sending the feedback.
                  type: string
                  minLength: 1
                subject:
                  description: Subject of the feedback.
                  type: string
                message:
                  description: The feedback.
                  type: string
                  minLength: 1
                token:
                  description: Turnstile token.
                  type: string
              additionalProperties: false
      responses:
        '200':
          description: feedback
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  status:
                    type: string
  /profiles:
    get:
      tags:
        - Profiles
      description: Get user profiles
      operationId: getProfiles
      parameters:
        - name: id
          in: query
          description: Profile id
          schema:
            type: string
            minLength: 1
            pattern: '^~.*\d+$'
        - name: ids
          in: query
          description: Profile ids
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
                  pattern: '^~.*\d+$'
        - name: email
          in: query
          description: Email associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: emails
          in: query
          description: Email(s) associated with the Profile.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: confirmedEmail
          in: query
          description: Confirmed email associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: confirmedEmails
          in: query
          description: Confirmed email(s) associated with the Profile.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: first
          in: query
          description: First name associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: middle
          in: query
          description: Middle name associated with the Profile.
          schema:
            type: string
            nullable: true
        - name: last
          in: query
          description: Last name associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: term
          in: query
          description: Email, Fullname or part of the fullname associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: relation
          in: query
          description: Relation associated to the Profile.
          schema:
            type: string
            minLength: 1
        - name: dblp
          in: query
          description: dblp link associated to the Profile.
          schema:
            type: string
            minLength: 1
        - name: group
          in: query
          description: Group id where to get all the member profiles.
          schema:
            type: string
            minLength: 1
        - name: trash
          in: query
          description: Whether to include deleted profiles.
          schema:
            type: boolean
        - name: withBlocked
          in: query
          description: Whether to include blocked profiles.
          schema:
            type: boolean
        - name: needsModeration
          in: query
          description: Whether to return Profiles that need moderation.
          schema:
            type: boolean
        - name: select
          in: query
          description: Comma separated string with specific fields of the Profile object to return.
          schema:
            example: id,content.names,content.emails
            type: string
            minLength: 1
        - name: state
          in: query
          description: State of the Profile.
          schema:
            type: string
            enum:
              - Inactive
              - Needs Moderation
              - Active Institutional
              - Active Automatic
              - Active
              - Blocked
              - Limited
              - Merged
              - Rejected
        - name: sort
          in: query
          description: Sort returned Profiles by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: Return documents that come after the after parameter. After should be an id.
          schema:
            type: string
            minLength: 1
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: Profile response
          content:
            application/json:
              schema:
                type: object
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'
                  count:
                    type: integer
                    minimum: 0
                  fromCache:
                    type: boolean
                additionalProperties: false
    post:
      tags:
        - Profiles
      description: Save user Profile
      operationId: saveProfile
      requestBody:
        description: Add a new piece of evidence to an existent Profile.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileReference'
      responses:
        '200':
          description: Profile response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  /profiles/search:
    get:
      tags:
        - Profiles
      description: Get user profiles
      operationId: searchProfiles
      parameters:
        - name: id
          in: query
          description: Profile id
          schema:
            type: string
            minLength: 1
            pattern: '^~.*\d+$'
        - name: ids
          in: query
          description: Profile ids
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
                  pattern: '^~.*\d+$'
        - name: email
          in: query
          description: Email associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: emails
          in: query
          description: Email(s) associated with the Profile.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: confirmedEmail
          in: query
          description: Confirmed email associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: confirmedEmails
          in: query
          description: Confirmed email(s) associated with the Profile.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: first
          in: query
          description: First name associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: middle
          in: query
          description: Middle name associated with the Profile.
          schema:
            type: string
            nullable: true
        - name: last
          in: query
          description: Last name associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: fullname
          in: query
          description: Fullname associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: es
          in: query
          description: Whether to use ElasticSearch to search for profiles.
          schema:
            type: boolean
        - name: term
          in: query
          description: Email, Fullname or part of the fullname associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: group
          in: query
          description: Group id where to get all the member profiles.
          schema:
            type: string
            minLength: 1
        - name: trash
          in: query
          description: Whether to include deleted profiles.
          schema:
            type: boolean
        - name: withBlocked
          in: query
          description: Whether to include blocked profiles.
          schema:
            type: boolean
        - name: needsModeration
          in: query
          description: Whether to return Profiles that need moderation.
          schema:
            type: boolean
        - name: select
          in: query
          description: Comma separated string with specific fields of the Profile object to return.
          schema:
            example: id,content.names,content.emails
            type: string
            minLength: 1
        - name: state
          in: query
          description: State of the Profile.
          schema:
            type: string
            enum:
              - Inactive
              - Needs Moderation
              - Active Institutional
              - Active Automatic
              - Active
              - Blocked
              - Limited
              - Merged
              - Rejected
        - name: sort
          in: query
          description: Sort returned Profiles by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: Profile response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'
                  count:
                    type: integer
                    minimum: 0
                  fromCache:
                    type: boolean
    post:
      tags:
        - Profiles
      description: Get user profiles
      operationId: searchProfilesES
      parameters:
        - name: id
          in: query
          description: Profile id
          schema:
            type: string
            minLength: 1
            pattern: '^~.*\d+$'
        - name: ids
          in: query
          description: Profile ids
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
                  pattern: '^~.*\d+$'
        - name: email
          in: query
          description: Email associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: emails
          in: query
          description: Email(s) associated with the Profile.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: confirmedEmail
          in: query
          description: Confirmed email associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: confirmedEmails
          in: query
          description: Confirmed email(s) associated with the Profile.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: first
          in: query
          description: First name associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: middle
          in: query
          description: Middle name associated with the Profile.
          schema:
            type: string
            nullable: true
        - name: last
          in: query
          description: Last name associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: term
          in: query
          description: Email, Fullname or part of the fullname associated with the Profile.
          schema:
            type: string
            minLength: 1
        - name: group
          in: query
          description: Group id where to get all the member profiles.
          schema:
            type: string
            minLength: 1
        - name: trash
          in: query
          description: Whether to include deleted profiles.
          schema:
            type: boolean
        - name: withBlocked
          in: query
          description: Whether to include blocked profiles.
          schema:
            type: boolean
        - name: needsModeration
          in: query
          description: Whether to return Profiles that need moderation.
          schema:
            type: boolean
        - name: select
          in: query
          description: Comma separated string with specific fields of the Profile object to return.
          schema:
            example: id,content.names,content.emails
            type: string
            minLength: 1
        - name: state
          in: query
          description: State of the Profile.
          schema:
            type: string
            enum:
              - Inactive
              - Needs Moderation
              - Active Institutional
              - Active Automatic
              - Active
              - Blocked
              - Limited
              - Merged
              - Rejected
        - name: sort
          in: query
          description: Sort returned Profiles by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: Return documents that come after the after parameter. After should be an id.
          schema:
            type: string
            minLength: 1
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
      responses:
        '200':
          description: Profile response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'
                  count:
                    type: integer
                    minimum: 0
                  fromCache:
                    type: boolean
  /references:
    get:
      tags:
        - References
      description: Gets profile references
      operationId: getReferences
      parameters:
        - name: id
          in: query
          description: Group id.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Group ids.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: referent
          in: query
          description: Profile id that the reference is modifying.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: Return documents that come after the after parameter. After should be an id.
          schema:
            type: string
            minLength: 1
        - name: sort
          in: query
          description: Select field to sort by.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: The Profile that is saved to the database.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  count:
                    type: integer
                    minimum: 0
                  references:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProfileReference'
                  fromCache:
                    type: boolean
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups:
    get:
      tags:
        - Groups
      description: Returns groups
      operationId: getGroups
      parameters:
        - name: id
          in: query
          description: Group id.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Group ids.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: prefix
          in: query
          description: Group id prefix.
          schema:
            type: string
            minLength: 1
        - name: parent
          in: query
          description: Group parent.
          schema:
            type: string
            minLength: 1
        - name: member
          in: query
          description: Group id to get its transitive members.
          schema:
            type: string
            minLength: 1
        - name: members
          in: query
          description: Group id to get groups that the Group is member of.
          schema:
            type: string
            minLength: 1
        - name: signature
          in: query
          description: Group id used to sign the returned Groups.
          schema:
            type: string
            minLength: 1
        - name: signatory
          in: query
          description: Group id that can is allowed to sign with the returned Groups.
          schema:
            type: string
            minLength: 1
        - name: writer
          in: query
          description: Group id that is writer of the returned Groups.
          schema:
            type: string
            minLength: 1
        - name: host
          in: query
          description: Host of the returned Groups.
          schema:
            type: string
            nullable: true
            minLength: 1
        - name: select
          in: query
          description: Comma separated string with specific fields of the Group object to return.
          schema:
            example: id,members
            type: string
            minLength: 1
        - name: details
          in: query
          description: Comma separated values of fields to add to details. Valid value is writable.
          schema:
            example: writable
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: Return documents that come after the after parameter. After should be an id.
          schema:
            type: string
            minLength: 1
        - name: sort
          in: query
          description: Select field to sort by.
          schema:
            type: string
            minLength: 1
        - name: web
          in: query
          description: Whether to return web ui code
          schema:
            type: boolean
        - name: stream
          in: query
          description: Whether to use a stream to process results or not.
          schema:
            type: boolean
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
        - name: domain
          in: query
          description: Domain the Groups belong to to filter transitive members.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Group response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  count:
                    type: integer
                    minimum: 0
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
                  fromCache:
                    type: boolean
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/members:
    put:
      tags:
        - Groups
      description: Adds members to a Group
      operationId: addMembersToGroup
      requestBody:
        description: Group object
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - members
              properties:
                id:
                  description: Group id to which memebers will be added.
                  type: string
                  minLength: 1
                members:
                  description: Members to add to the Group.
                  type: array
                  minItems: 1
                  items:
                    type: string
                    minLength: 1
              additionalProperties: false
      responses:
        '200':
          description: Group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/edits:
    get:
      tags:
        - GroupEdits
      description: Returns all the Group Edits by filter.
      operationId: getGroupEdits
      parameters:
        - name: id
          in: query
          description: Edit id.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Edit ids.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: group.id
          in: query
          description: Group id that the Edits have edited.
          schema:
            type: string
            minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Edit(s).
          schema:
            type: string
            minLength: 1
        - name: trash
          in: query
          description: Whether to get deleted Group Edits.
          schema:
            type: boolean
        - name: tauthor
          in: query
          description: Get Edits authored by user.
          schema:
            type: boolean
        - name: writer
          in: query
          description: Get Edits written by user.
          schema:
            type: string
            minLength: 1
        - name: signatures
          in: query
          description: Get Edits signed by users.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: select
          in: query
          description: Comma separated string with specific fields of the Note Edit object to return.
          schema:
            example: 'id,content.title,content.abstract'
            type: string
            minLength: 1
        - name: details
          in: query
          description: |
            Comma separated values of fields to add to details. Valid values are
            writable, invitation, and all
          schema:
            type: string
            minLength: 1
            example: all
        - name: sort
          in: query
          description: Sort returned Edits by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
        - name: domain
          in: query
          description: Domain the Group Edits belong to to filter transitive members.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Edit Group response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 0
                  edits:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupEditGet'
                  fromCache:
                    type: boolean
                additionalProperties: false
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - GroupEdits
      description: Create or edit a Group Edit
      operationId: createGroupEdit
      requestBody:
        description: Group Edit object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupEditPost'
      responses:
        '200':
          description: Group Edit response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupEditGet'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notes/edits:
    get:
      tags:
        - NoteEdits
      description: Returns all the Note Edits by filter.
      operationId: getNoteEdits
      parameters:
        - name: id
          in: query
          description: Edit id.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Edit ids.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: note.id
          in: query
          description: Note id that the Edits have edited.
          schema:
            type: string
            minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Edit(s).
          schema:
            type: string
            minLength: 1
            example: ICLR.cc/2018/Conference/-/Blind_Submission
        - name: domain
          in: query
          description: Domain of the Edits.
          schema:
            type: string
            minLength: 1
        - name: trash
          in: query
          description: Whether to get deleted Note Edits.
          schema:
            type: boolean
        - name: tauthor
          in: query
          description: Get Edits authored by user.
          schema:
            type: boolean
        - name: writer
          in: query
          description: Get Edits written by user.
          schema:
            type: string
            minLength: 1
        - name: signatures
          in: query
          description: Get Edits signed by users.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: original
          in: query
          description: get Edits that are originals
          schema:
            anyOf:
              - type: boolean
              - type: string
                minLength: 1
        - name: select
          in: query
          description: Comma separated string with specific fields of the Note Edit object to return.
          schema:
            example: 'id,content.title,content.abstract'
            type: string
            minLength: 1
        - name: details
          in: query
          description: |
            Comma separated values of fields to add to details. Valid values are:
            replyCount: Number of replies in a forum. Only available if the Note is a forum.
            writable: Boolean indicating whether the Note is writable by the user.
            originalWritable: Boolean indicating whether the original Note is writable by the user.
            tags: Tags of the Note.
            invitations: Invitations of the Note.
            directReplyCount: Number of direct replies to the Note.
            directReplies: Direct replies to the Note.
            replies: Replies to the Note. Only available if the Note is a forum.
            forumContent: Content of the forum Note. Only available if the Note is a reply.
            presentation: Shows how to render the content of the Note.
            signatures: Returns members and readers of the signatures of the Note.
          schema:
            type: string
            minLength: 1
            example: all
        - name: sort
          in: query
          description: Sort returned Edits by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: Return documents that come after the after parameter. After should be an id.
          schema:
            type: string
            minLength: 1
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
        - name: domain
          in: query
          description: Domain the Note Edits belong to to filter transitive members.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Edit Note response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 0
                  edits:
                    type: array
                    items:
                      $ref: '#/components/schemas/NoteEditGet'
                  fromCache:
                    type: boolean
                additionalProperties: false
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - NoteEdits
      description: Create or edit a Note Edit
      operationId: createNoteEdit
      requestBody:
        description: Note Edit object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteEditPost'
      responses:
        '200':
          description: Note Edit response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteEditGet'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notes:
    get:
      tags:
        - Notes
      description: Returns all the Notes by filter.
      operationId: getNotes
      parameters:
        - name: id
          in: query
          description: Note id.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Note ids.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Note(s).
          schema:
            type: string
            minLength: 1
            example: ICLR.cc/2018/Conference/-/Blind_Submission
        - name: invitations
          in: query
          description: Invitation ids.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: forum
          in: query
          description: Note id of the forum field.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: replyto
          in: query
          description: Note id of the replyto field.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: number
          in: query
          description: Note number.
          schema:
            anyOf:
              - type: integer
                minimum: 1
              - type: string
                minLength: 1
                pattern: '^([1-9][0-9]*,?)*[1-9][0-9]*$'
              - type: array
                minItems: 1
                items:
                  type: integer
                  minimum: 1
        - name: content.title
          in: query
          description: Note title.
          schema:
            type: string
            minLength: 1
        - name: content.confidence
          in: query
          description: Note content confidence field value.
          schema:
            type: string
            minLength: 1
        - name: content.strengths
          in: query
          description: Note content strengths field value.
          schema:
            type: string
            minLength: 1
        - name: content.weaknesses
          in: query
          description: Note content weaknesses field value.
          schema:
            type: string
            minLength: 1
        - name: content.decision
          in: query
          description: Note content decision field value.
          schema:
            type: string
            minLength: 1
        - name: content.certifications
          in: query
          description: Note content certification field values.
          schema:
            type: string
            minLength: 1
        - name: content.previous_URL
          in: query
          description: Note content previous_URL field value.
          schema:
            type: string
            minLength: 1
        - name: content.user
          in: query
          description: User email in recruitment.
          schema:
            type: string
            minLength: 1
        - name: content.response
          in: query
          description: User response in recruitment.
          schema:
            type: string
            minLength: 1
        - name: content.submission_id
          in: query
          schema:
            type: string
            minLength: 1
        - name: content.venue
          in: query
          description: Note venue.
          schema:
            type: string
            minLength: 1
        - name: content.venueid
          in: query
          description: Note venueid.
          schema:
            type: string
            minLength: 1
        - name: content.venue_id
          in: query
          description: Note venue_id.
          schema:
            type: string
            minLength: 1
        - name: content.presentation_type
          in: query
          description: Presentation Type.
          schema:
            type: string
            minLength: 1
        - name: content.sessions
          in: query
          description: Sessions.
          schema:
            type: string
            minLength: 1
        - name: content.track
          in: query
          description: Track.
          schema:
            type: string
            minLength: 1
        - name: content.authorids
          in: query
          description: List of tilde ids of registered users or of emails either registered or not.
          schema:
            anyOf:
              - type: string
                example: ~Andrew_McCallum1
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: trash
          in: query
          description: Whether to get deleted Notes.
          schema:
            type: boolean
        - name: paperhash
          in: query
          description: paperhash of the Note if exists.
          deprecated: true
          schema:
            type: string
            example: das|go_for_a_walk_and_arrive_at_the_answer_reasoning_over_paths_in_knowledge_bases_using_reinforcement_learning.
        - name: tauthor
          in: query
          description: Get Notes authored by user.
          schema:
            type: boolean
        - name: writer
          in: query
          description: Get Notes written by user.
          schema:
            type: string
            minLength: 1
        - name: signature
          in: query
          description: Get Notes signed by user.
          schema:
            type: string
            minLength: 1
        - name: transitiveMembers
          in: query
          description: Include transitive members of signature if it's passed as a parameter.
          schema:
            type: boolean
        - name: signatures
          in: query
          description: Get Notes signed by users.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: original
          in: query
          description: get Notes that are originals
          schema:
            anyOf:
              - type: boolean
              - type: string
                minLength: 1
        - name: select
          in: query
          description: Comma separated string with specific fields of the Note object to return.
          schema:
            example: 'id,content.title,content.abstract'
            type: string
            minLength: 1
        - name: details
          in: query
          description: |
            Comma separated values of fields to add to details. Valid values are
            replyCount, original, overwriting, revisions, writable, forumContent, tags, revisions, invitation, directReplyCount, directReplies, replies, and all
          schema:
            type: string
            minLength: 1
            example: all
        - name: invitee
          in: query
          description: invitee
          schema:
            type: boolean
        - name: mintcdate
          in: query
          description: minimum creation date
          schema:
            type: integer
            minimum: 0
        - name: mintmdate
          in: query
          description: minimum modification date
          schema:
            type: integer
            minimum: 0
        - name: duedate
          in: query
          description: due date
          schema:
            type: boolean
        - name: sort
          in: query
          description: Sort returned Notes by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: Return documents that come after the after parameter. After should be an id.
          schema:
            type: string
            minLength: 1
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
        - name: domain
          in: query
          description: Domain the Notes belong to to filter transitive members.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Note response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 0
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                  fromCache:
                    type: boolean
                additionalProperties: false
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notes/search:
    get:
      tags:
        - Notes
      description: Search Notes
      operationId: searchNotes
      parameters:
        - name: query
          in: query
          description: Search query that that looks inside some of the fields in the content of the Note.
          schema:
            type: string
            minLength: 1
        - name: term
          in: query
          description: Search term that that looks inside some of the fields in the content of the Note.
          schema:
            type: string
            minLength: 1
        - name: terms
          in: query
          description: Search term that that looks inside some of the fields in the content of the Note.
          schema:
            type: array
            minItems: 1
            items:
              type: string
              minLength: 1
        - name: type
          in: query
          description: Search type
          schema:
            type: string
            enum:
              - prefix
              - terms
              - exact
        - name: content
          in: query
          description: Fields inside content to look for the term.
          schema:
            type: string
            enum:
              - title
              - abstract
              - authors
              - authorids
              - comment
              - review
              - paperhash
              - confidence
              - summary
              - main_review
              - metareview
              - strengths
              - weaknesses
              - TL;DR
              - decision
              - recommendation
              - venueid
              - venue
              - keywords
              - subject_areas
              - all
            default: all
        - name: group
          in: query
          description: Group that the Invitation belongs to
          schema:
            type: string
            minLength: 1
        - name: source
          in: query
          description: Source of the Note
          schema:
            type: string
            default: all
            enum:
              - forum
              - reply
              - all
        - name: invitation
          in: query
          description: Invitation id used to create the Note(s).
          schema:
            type: string
            minLength: 1
            example: ICLR.cc/2018/Conference/-/Submission
        - name: venue
          in: query
          description: Venue of the Note
          schema:
            type: string
            minLength: 1
        - name: venueid
          in: query
          description: Venue id of the Note
          schema:
            type: string
            minLength: 1
        - name: sort
          in: query
          description: Sort returned Notes by field.
          schema:
            type: string
            minLength: 1
            example: tmdate:desc
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
        - name: domain
          in: query
          description: Domain the Notes belong to to filter transitive members.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Note response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 0
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                  fromCache:
                    type: boolean
                additionalProperties: false
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Notes
      description: Search Notes Post
      operationId: searchNotesPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  description: Note ids.
                  type: array
                  items:
                    type: string
                    minLength: 1
                query:
                  description: Search query that that looks inside some of the fields in the content of the Note.
                  type: string
                  minLength: 1
                term:
                  type: string
                  minLength: 1
                terms:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    minLength: 1
                type:
                  description: Search type
                  type: string
                  enum:
                    - prefix
                    - terms
                group:
                  description: Group that the Invitation belongs to
                  type: string
                  minLength: 1
                source:
                  description: Source of the Note
                  type: string
                  default: all
                  enum:
                    - forum
                    - reply
                    - all
                invitation:
                  description: Invitation id used to create the Note(s).
                  type: string
                  minLength: 1
                content:
                  description: Fields inside content to look for the term.
                  type: object
                  additionalProperties: false
                  properties:
                    title:
                      type: object
                      required:
                        - terms
                      properties:
                        terms:
                          type: array
                          minItems: 1
                          items:
                            type: string
                            minLength: 1
                        matchMethod:
                          type: string
                          enum:
                            - match
                            - match_phrase
                            - match_phrase_prefix
                            - term
                      additionalProperties: false
                    venue:
                      type: object
                      required:
                        - terms
                      properties:
                        terms:
                          type: array
                          minItems: 1
                          items:
                            type: string
                            minLength: 1
                        matchMethod:
                          type: string
                          enum:
                            - match
                            - match_phrase
                            - match_phrase_prefix
                            - term
                      additionalProperties: false
                venue:
                  description: Venue of the Note
                  type: string
                  minLength: 1
                venueid:
                  description: Venue id of the Note
                  type: string
                  minLength: 1
                domain:
                  description: Domain the Notes belong.
                  type: string
                  minLength: 1
                sort:
                  description: Sort returned Notes by field.
                  type: string
                  minLength: 1
                  example: tmdate:desc
                limit:
                  description: Maximum number of results to return.
                  type: integer
                  minimum: 1
                offset:
                  description: Offset of the result shown.
                  type: integer
                  minimum: 0
                cache:
                  description: Get result from cache. Without the right privileges this parameter will be ignored.
                  type: boolean
              additionalProperties: false
      responses:
        '200':
          description: Note response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  count:
                    type: integer
                    minimum: 0
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                  fromCache:
                    type: boolean
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations/edits:
    get:
      tags:
        - Invitation Edits
      description: Returns Invitation Edits
      operationId: getInvitationEdits
      parameters:
        - name: id
          in: query
          description: Edit id.
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Edit ids.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: invitation.id
          in: query
          description: Invitation id that the Edits have edited.
          schema:
            type: string
            minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Edit(s).
          schema:
            type: string
            minLength: 1
            example: ICLR.cc/2018/Conference/-/Blind_Submission
        - name: trash
          in: query
          description: Whether to get deleted Invitation Edits.
          schema:
            type: boolean
        - name: tauthor
          in: query
          description: Get Edits authored by user.
          schema:
            type: boolean
        - name: writer
          in: query
          description: Get Edits written by user.
          schema:
            type: string
            minLength: 1
        - name: signatures
          in: query
          description: Get Edits signed by users.
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: original
          in: query
          description: get Edits that are originals
          schema:
            anyOf:
              - type: boolean
              - type: string
                minLength: 1
        - name: select
          in: query
          description: Comma separated string with specific fields of the Invitation Edit object to return.
          schema:
            example: 'id,content.title,content.abstract'
            type: string
            minLength: 1
        - name: details
          in: query
          description: |
            Comma separated values of fields to add to details. Valid values are
            writable, invitation, presentation, and all
          schema:
            type: string
            minLength: 1
            example: all
        - name: sort
          in: query
          description: Sort returned Edits by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: Return documents that come after the after parameter. After should be an id.
          schema:
            type: string
            minLength: 1
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
        - name: domain
          in: query
          description: Domain the Invitation Edits belong to to filter transitive members.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Invitation response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 0
                  edits:
                    type: array
                    items:
                      $ref: '#/components/schemas/InvitationEditGet'
                  fromCache:
                    type: boolean
                additionalProperties: false
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - InvitationEdits
      description: Create or edit a Invitation Edit
      operationId: createInvitationEdit
      requestBody:
        description: Invitation Edit object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationEditPost'
      responses:
        '200':
          description: Invitation Edit response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationEditGet'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations:
    get:
      tags:
        - Invitations
      description: Returns Invitations
      operationId: getInvitations
      parameters:
        - name: id
          in: query
          description: Invitation id
          schema:
            type: string
            minLength: 1
        - name: ids
          in: query
          description: Invitation ids
          schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
                  minLength: 1
        - name: invitation
          in: query
          description: Invitation used to validate this invitation.
          schema:
            type: string
            minLength: 1
        - name: prefix
          in: query
          description: Invitation id prefix
          schema:
            type: string
            minLength: 1
        - name: domain
          in: query
          description: Invitation domain
          schema:
            type: string
            minLength: 1
        - name: type
          in: query
          description: Invitation type
          schema:
            type: string
            enum:
              - note
              - notes
              - tag
              - tags
              - edge
              - edges
              - group
              - groups
              - invitation
              - invitations
              - meta
              - all
        - name: replyForum
          in: query
          description: Note id
          schema:
            type: string
            minLength: 1
        - name: replyInvitation
          in: query
          description: Invitation id
          schema:
            type: string
            minLength: 1
        - name: minduedate
          in: query
          description: minimum due date of the Invitation
          schema:
            type: integer
            minimum: 0
        - name: invitee
          in: query
          description: invitee id
          schema:
            anyOf:
              - type: boolean
              - type: string
                minLength: 1
        - name: signature
          in: query
          description: Invitation signature
          schema:
            type: string
            minLength: 1
        - name: replyto
          in: query
          description: Invitations should have replyto field
          schema:
            type: boolean
        - name: duedate
          in: query
          description: Invitations should have due date
          schema:
            type: boolean
        - name: pastdue
          in: query
          description: Invitations should be past due
          schema:
            type: boolean
        - name: expired
          in: query
          description: Invitations should be expired
          schema:
            type: boolean
        - name: select
          in: query
          description: Comma separated string with specific fields of the Invitation object to return.
          schema:
            example: 'id,content,readers,invitees'
            type: string
            minLength: 1
        - name: details
          in: query
          description: Comma separated values of fields to add to details. Valid values are replytoNote, repliedNotes, repliedTags, repliedEdges, all.
          schema:
            type: string
            minLength: 1
        - name: tags
          deprecated: true
          in: query
          description: Get only Tag Invitations
          schema:
            type: boolean
        - name: edges
          deprecated: true
          in: query
          description: Get only edge Invitations
          schema:
            type: boolean
        - name: notes
          deprecated: true
          in: query
          description: Get only Note Invitations
          schema:
            type: boolean
        - name: sort
          in: query
          description: Sort returned Invitations by field.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: Return documents that come after the after parameter. After should be an id.
          schema:
            type: string
            minLength: 1
        - name: cache
          in: query
          description: Get result from cache. Without the right privileges this parameter will be ignored.
          schema:
            type: boolean
        - name: domain
          in: query
          description: Domain the Invitations belong to to filter transitive members.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Invitation response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 0
                  invitations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invitation'
                  fromCache:
                    type: boolean
                additionalProperties: false
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tags:
    get:
      tags:
        - Tags
      description: Find tags by different filters
      operationId: getTags
      parameters:
        - name: id
          in: query
          description: Tag id
          schema:
            type: string
        - name: ids
          in: query
          description: Tag ids
          schema:
            anyOf:
              - type: string
                minLength: 1
              - type: array
                minItems: 1
                items:
                  type: string
                  minLength: 1
        - name: invitation
          in: query
          description: Invitation id used to create the Tag(s).
          schema:
            type: string
            example: ICLR.cc/2018/Conference/-/Add_Bid
        - name: tag
          in: query
          description: Tag value
          schema:
            type: string
            minLength: 1
        - name: signature
          in: query
          description: Tag signature
          schema:
            type: string
            minLength: 1
        - name: forum
          in: query
          description: Note id of the forum field.
          schema:
            type: string
        - name: replyto
          in: query
          description: Invitations should have replyto field
          schema:
            type: string
        - name: trash
          in: query
          description: Get tags deleted too.
          schema:
            type: boolean
        - name: tauthor
          in: query
          description: Get tags authored by user.
          schema:
            type: boolean
        - name: details
          in: query
          description: Comma separated values of fields to add to details. Valid values are forumContent, all.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            default: 1000
        - name: offset
          in: query
          description: Offset of the result shown.
          schema:
            type: integer
            minimum: 0
        - name: after
          in: query
          description: Return documents that come after the after parameter. After should be an id.
          schema:
            type: string
            minLength: 1
        - name: domain
          in: query
          description: Domain the Tags belong to to filter transitive members.
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Tag response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  count:
                    type: integer
                    minimum: 0
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
                  fromCache:
                    type: boolean
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Tags
      description: Create or edit a Tag
      operationId: createTag
      requestBody:
        description: Tag object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
            example:
              invitation: ICLR.cc/2018/Conference/-/Add_Bid
              forum: SJeI6e62XQ
              tag: I want to review
              readers:
                - everyone
              signatures:
                - ~Super_User1
      responses:
        '200':
          description: Tag response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages:
    get:
      tags:
[...]
